/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2019, 17:54:54
    Author     : Tadeu Fernando
*/

.root {
    -fx-background-image: url(fundo.jpg);
    -fx-background-size: 100% 100%;
}

